.App{
  border-radius: 15px;
  border: 1px solid black;
  width: 50%;
  background-color: rgb(238, 162, 174);
}

.current{
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

.control-upper{
  margin: 20px;
  
  display: flex;
  justify-content: center;
}

.control-lower{
  
  margin: 20px;
  display: flex;
  justify-content: center;
}

button{
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

table{
  text-align: center;
  border-collapse: collapse;
  width: 80%;
  margin: 10px;
}

td, th{
  border: 1px solid black;
}

